{
  "extends":                          [
    "plugin:jsx-a11y/recommended"
  ],
  "plugins":                          [
    "prettier",
    "react",
    "jsx-a11y"
  ],
  "parser":                           "babel-eslint",
  "parserOptions":                    {
    "sourceType":                     "module"
  },
  "globals":                          {
    "serviceWorkerOption":            true,
    "_":                              true,
    "$":                              true,
    "google":                         true,
    "GMaps":                          true,
    "Loader":                         true,
    'angular':                        true,
    'jest':                           true,
    'it':                             true,
    'expect':                         true,
    'describe':                       true,
    'beforeEach':                     true,
    'afterEach':                      true
  },
  "env":                              {
    "node":                           true,
    "es6":                            true,
    "browser":                        true
  },
  "rules":                            {
    "prettier/prettier":              "error",
    "jsx-a11y/img-redundant-alt":     0,
    "jsx-a11y/label-has-for":         [ 2, {
        "required":                   {
            "every":                  [ "id" ]
        },
        "allowChildren":              false
    }],
    "react/jsx-uses-vars":            2,
    "react/no-direct-mutation-state": "error",
    "key-spacing":                    ["error", {
      "mode":                         "strict"
    }],
    "no-extra-semi":                  1,
    "no-unused-vars":                 ["error", {
      "varsIgnorePattern":            "(React|store|dispatchSpy)"
    }],
    "no-undef":                       2,
    "default-case":                   2,
    "no-inner-declarations":          1,
    "no-irregular-whitespace":        1,
    "eqeqeq":                         1,
    "no-else-return":                 1,
    "handle-callback-err":            1,
    "comma-style":                    1,
    "no-const-assign":                1,
    "arrow-spacing":                  2,
    "no-var":                         1,
    "prefer-arrow-callback":          1,
    "no-multi-spaces":                1,
    "prefer-template":                2
  }
}
